.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  margin: 1rem 0;
}

.resumeLink {
  text-decoration: underline;
}

.contactText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;


  .emailText {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.25rem;
  }
}
