.container {
  padding: 0 6rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.leftColumn {
  flex-shrink: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 4rem;
}

.title {
  line-height: 1.15;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  letter-spacing: 0.5px;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  flex-grow: 2;
  flex-shrink: 2;
}

.socials {
  display: flex;
  flex-direction: row;
}

.socialItem {
  border: 2px solid #fff;
  border-radius: 32px;
  padding: 8px 16px;

  display: flex;
  flex-direction: row;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.socialItem:hover {
  background-color: #fff;
  color: #222;
}

.socialItem .icon {
  display: flex;
  margin-left: 6px;
  background-color: #fff;
  border-radius: 50%;
}

.socialItem + .socialItem {
  margin-left: 12px;
}

.rightColumn {
  flex-grow: 1;
}

.rightColumn img {
  border-radius: 50%;
}

.wipDisclaimer{
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 12px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
