.layoutWrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  position: relative;
}

.layout {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}

.topbar {
  height: 4rem;
  min-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.topbarItem {
  font-size: 1.2rem;
  margin: 0 1rem;
  position: relative;
  flex-shrink: 0;
}

.topbarItem.highlighted {
  font-weight: 700;
}

.underlineWrapper {
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: -6px;
  left: 0;
}

.underline {
  transition: width 0.3s cubic-bezier(.18,.69,.46,.95);

  width: 0;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}

.highlighted .underline {
  width: 100%
}

.topbarItem:hover .underline {
  width: 100%;
}

.layout main {
  padding: 2rem 4rem;
  height: calc(100% - 4rem);
  width: 100%;
}

.backgroundDecorator {
  height: 900vh;
  width: 100vw;
  background-color: #c60;
  position: absolute;
  z-index: 0;
  bottom: 0;
  transition: all 1.5s ease-out;
}

.leftBackgroundDecorator {
  transform: rotate(300deg);
  right: 20%;
  transform-origin: bottom right;
}

.leftBackgroundDecorator.hiddenLeftBackgroundDecorator {
  transform: rotate(240deg);
  opacity: 0;
}

.rightBackgroundDecorator {
  transform: rotate(60deg);
  left: 20%;
  transform-origin: bottom left;
}

.rightBackgroundDecorator.hiddenRightBackgroundDecorator {
  transform: rotate(130deg);
  opacity: 0;
}


@media screen and (max-width: 1024px) {
  .layout main {
    padding: 2rem;
  }

  .leftBackgroundDecorator {
    transform: rotate(310deg);
  }
  
  .rightBackgroundDecorator {
    transform: rotate(50deg);
  }
}

@media screen and (max-width: 768px) {
  .topbar {
    -webkit-tap-highlight-color: transparent;
  }

  .layout main {
    padding-top: 1rem;
  }

  .topbarItem { 
    font-size: 0.8rem;
    margin: 0 0.6rem;
  }

  .leftBackgroundDecorator {
    transform: rotate(330deg);
  }
  
  .rightBackgroundDecorator {
    transform: rotate(30deg);
  }
}
