.layoutWrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  position: relative;
}

.layout {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}

.topbar {
  height: 4rem;
  min-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.topbarItem {
  font-size: 1.5rem;
  margin: 0 1rem;
  position: relative;
  flex-shrink: 0;
}

.topbarItem.highlighted {
  font-weight: 700;
}

.underlineWrapper {
  pointer-events: none;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: -6px;
  left: 0;
}

.underline {
  transition: width 0.3s cubic-bezier(0.18, 0.69, 0.46, 0.95);

  width: 0;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}

.highlighted .underline {
  width: 100%;
}

.topbarItem:hover .underline {
  width: 100%;
}

.layout main {
  padding: 2rem 4rem;
  height: calc(100% - 4rem);
  width: 100%;
}

.backgroundDecoratorWrapper {
  position: absolute;
  width: 0;
  height: 0;
  top: 70vh;
  left: 50vw;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
}

.backgroundDecorator {
  position: absolute;
  height: 1000vh;
  min-width: 300vw;

  top: 0;
  left: 0;
  right: 0;
  background-color: #c60;

  transition: transform 1s ease-out;
  transform-origin: top center;
}

.leftSideBackgroundDecorator {
  transform: translate(-50%) rotate(30deg);
}

.rightSideBackgroundDecorator {
  transform: translate(-50%) rotate(-30deg);
}

@media screen and (max-width: 1024px) {
  .layout main {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .topbar {
    -webkit-tap-highlight-color: transparent;
  }

  .layout main {
    padding-top: 1rem;
  }

  .topbarItem {
    font-size: 0.8rem;
    margin: 0 0.6rem;
  }

  .leftSideBackgroundDecorator {
    transform: translate(-50%) rotate(60deg);
  }

  .rightSideBackgroundDecorator {
    transform: translate(-50%) rotate(-60deg);
  }
}
