.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  position: relative;
}

.resumeLink {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;

  margin-top: 1rem;
  width: 80%;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-height: 50%;

  padding: 2rem 4rem;
  gap: 4rem;

  border: 2px solid #666;
  border-radius: 0.5rem;
  background-color: #333;
}

.companyWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;

  flex-shrink: 0;
  width: 16rem;
}

.companyIcon {
  font-size: 2rem;
}

.titleColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.3rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
  }

  .section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 1rem;
  }

  .companyWrapper {
    justify-content: center;
    text-align: center;
  }

  .companyIcon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}
